go 1.25.4

use (
	./framework-go
	./framework-go-infrastructure-github
	./framework-go-infrastructure-keycloak
	./framework-go-infrastructure-llm
	./framework-go-infrastructure-otel
	./framework-go-infrastructure-postgres
	./framework-go-infrastructure-temporal
	./method-assets
)
